# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bdd
ltlf2ws1s
mona
SSyft
safe2fol

#temporary files
*~

#testing files
*.dfa
*.mona
*.ltlf
*.part
*.ltl

#lexer and parser files
parser/ltllexer.h
parser/ltllexer.c
parser/ltlparser.h
parser/ltlparser.c
